html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

:root {
    --textShadow: -1px 1px 12px rgba(0,0,0,0.80);;
}

.maintenance-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("assets/imgs/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.maintenance-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.maintenance-box > h1, p {
    color: #fff;
    font-family: Arial;
    text-align: center;
    text-shadow: var(--textShadow);
}

.maintenance-box > h1 {
    font-size: 48px;
}

.maintenance-box > p {
    font-size: 16px;
    padding-top: 32px;
}